@use "../../assets/colors" as colors;

.wrapper {
  display: inline-block;
  background-color: colors.$lightgrey;
  text-align: center;
  position: relative;
  z-index: 2;

  Avatar {
    display: flex;
    justify-content: center;
  }

  .title {
    font-size: xx-large;
  }

  .socials {
    a {
      margin-left: 2em;

      &:hover {
        color: colors.$light_cyan;
      }

      &:last-child {
        margin-right: 2em;
      }
    }
  }
}
