@use "../../assets/colors" as colors;

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.wrapper {
  display: inline-block;
  background-color: rgba(31, 40, 51, 0.25);
  text-align: center;
  position: relative;
  z-index: 2;

  Avatar {
    justify-content: center;
  }

  .title {
    font-size: xx-large;
  }

  .socials {
    a {
      margin-left: 2em;

      &:hover {
        color: colors.$light_cyan;
      }

      &:last-child {
        margin-right: 2em;
      }
    }
  }
}
