@use "./assets/colors" as colors;
@import url("http://fonts.cdnfonts.com/css/arcade-classic");
@import url("https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@200&display=swap");

@mixin particleEffect($particleNum, $particleBaseSize) {
  position: absolute;
  transform: translateY(-10vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: auto;

  .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mix-blend-mode: screen;
    background-image: radial-gradient(hsl(53, 100%, 98%), hsl(261, 98%, 39%) 10%, hsla(300, 93%, 41%, 0.493) 56%);
    animation: fade-frames 600ms infinite;

    @keyframes fade-frames {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 0.7;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes scale-frames {
      0% {
        transform: scale3d(0.4, 0.4, 1);
      }

      50% {
        transform: scale3d(2.2, 2.2, 1);
      }

      100% {
        transform: scale3d(0.4, 0.4, 1);
      }
    }
  }

  @for $i from 1 through $particleNum {
    &:nth-child(#{$i}) {
      $circleSize: random($particleBaseSize);
      width: $circleSize + px;
      height: $circleSize + px;

      $startPositionY: random(10) + 100;
      $framesName: "move-frames-" + $i;
      $moveDuration: 28000 + random(9000) + ms;

      animation-name: #{$framesName};
      animation-duration: $moveDuration;
      animation-delay: random(37000) + ms;

      @keyframes #{$framesName} {
        from {
          transform: translate3d(#{random(100) + vw}, #{$startPositionY + vh}, 0);
        }

        to {
          transform: translate3d(#{random(100) + vw}, #{- $startPositionY - random(30) + vh}, 0);
        }
      }

      .circle {
        animation-delay: random(4000) + ms;
      }
    }
  }
}

* {
  overflow: hidden;
}

body {
  text-align: center;
  font-family: "Anek Tamil";
  letter-spacing: 1px;
  color: colors.$smoke_white;
}

.App {
  background-color: colors.$black;
  text-align: center;
  height: 100vh;

  &.aestethic-mode {
    background-image: url("./assets/vapor-background.jpg");
  }

  &.mode-comfy {
    background-image: url("./assets/comfy-wallpaper.jpg");
    background-size: 100%;
  }

  #menuWrapper {
    display: block;
    position: relative;
    top: 40%;
    left: 50px;

    z-index: 2;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuWrapper .menu-item {
    transition: color 0.3s ease;
  }

  #menuWrapper .menu-item:hover {
    // Add animation for buttons here
  }

  #menuWrapper input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 3; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  /*
 * Just a quick hamburger
 */
  #menuWrapper span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      opacity 0.55s ease;
  }

  #menuWrapper span:first-child {
    transform-origin: 0% 0%;
  }

  #menuWrapper span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
  #menuWrapper input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  /*
 * But let's hide the middle one.
 */
  #menuWrapper input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
 * Ohyeah and the last one should go the other direction
 */
  #menuWrapper input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
 * Make this absolute positioned
 * at the top left of the screen
 */
  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  /*
 * And let's slide it in from the left
 */
  #menuWrapper input:checked ~ ul {
    transform: none;
  }

  pre {
    color: colors.$smoke_white;
    text-orientation: upright;
    padding: 5px 0 0;
    margin: 0;
    text-align: start;
    filter: blur(0.35px);
  }

  .background-effect {
    z-index: 1;
    .circle-container {
      @include particleEffect(250, 6);
    }
  }
}
