@import url("http://fonts.cdnfonts.com/css/arcade-classic");
@import url("https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@200&display=swap");

body {
  text-align: center;
  font-family: "Anek Tamil";
  letter-spacing: 1px;
  color: #c5c6c7;
}

.App {
  background-color: #0b0c10;
  text-align: center;
  height: 100vh;
}

pre {
  color: #c5c6c7;
  text-orientation: upright;
  padding: 5px 0 0;
  margin: 0;
  text-align: start;
  filter: blur(0.35px);
}
